<div class="relative h-screen text-white">
    <app-navbar></app-navbar>

    <!-- COOL OPTIMIZATION HACK FOR IMAGES -->
    <div *ngIf="imgLoading() && trendingContent()"
        class="absolute top-0 left-0 w-full h-full bg-black/70 flex items-center justify-center shimmer -z-10">
    </div>

    <img *ngIf="trendingContent()" [src]="ORIGINAL_IMG_BASE_URL + trendingContent()?.backdrop_path" alt="Hero img"
        class="absolute top-0 left-0 w-full h-full object-cover -z-50" (load)="imgLoading.set(false)" />

    <div class="absolute top-0 left-0 w-full h-full bg-black/50 -z-50" aria-hidden="true"></div>

    <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center px-8 md:px-16 lg:px-32">
        <div
            class="bg-gradient-to-b from-black via-transparent to-transparent absolute w-full h-full top-0 left-0 -z-10">
        </div>

        <div class="max-w-2xl" *ngIf="trendingContent()">
            <h1 class="mt-4 text-6xl font-extrabold text-balance">
                {{ trendingContent()?.title || trendingContent()?.name }}
            </h1>
            <p class="mt-2 text-lg">
                {{ (trendingContent()?.release_date?.split("-")[0] || trendingContent()?.first_air_date?.split("-")[0])
                }}
                | {{ trendingContent()?.adult ? "18+" : "PG-13" }}
            </p>

            <p class="mt-4 text-lg">
                {{ trendingContent()?.overview.length > 200
                ? (trendingContent()?.overview | slice:0:200) + "..."
                : trendingContent()?.overview }}
            </p>
        </div>

        <div class="flex mt-8" *ngIf="trendingContent()">
            <a [routerLink]="['/watch', trendingContent()?.id]"
                class="bg-white hover:bg-white/80 text-black font-bold py-2 px-4 rounded mr-4 flex items-center">
                <lucide-icon name="play" class="size-6 mr-2 fill-black"></lucide-icon>
                Play
            </a>

            <a [routerLink]="['/watch', trendingContent()?.id]"
                class="bg-gray-500/70 hover:bg-gray-500 text-white py-2 px-4 rounded flex items-center">
                <lucide-icon name="info" class="size-6 mr-2"></lucide-icon>
                More Info
            </a>
        </div>
    </div>
</div>

<div class="flex flex-col gap-10 bg-black py-10">
    @if (contentService.contentType() === 'movie') {
    @for (category of MOVIE_CATEGORIES; track category) {
    <app-movie-slider [category]="category"></app-movie-slider>
    }
    } @else {
    @for (category of TV_CATEGORIES; track category) {
    <app-movie-slider [category]="category"></app-movie-slider>
    }
    }
</div>