<div class="h-screen w-full hero-bg">
    <header class="max-w-6xl mx-auto flex items-center justify-between p-4">
        <a routerLink="/">
            <img src="/netflix-logo.png" alt="logo" class="w-52" />
        </a>
    </header>

    <div class="flex justify-center items-center mt-20 mx-3">
        <div class="w-full max-w-md p-8 space-y-6 bg-black/60 rounded-lg shadow-md">
            <h1 class="text-center text-white text-2xl font-bold mb-4">Sign Up</h1>

            <form class="space-y-4" (submit)="handleSignUp($event)">
                <div>
                    <label htmlFor="email" class="text-sm font-medium text-gray-300 block">
                        Email
                    </label>
                    <input type="email"
                        class="w-full px-3 py-2 mt-1 border border-gray-700 rounded-md bg-transparent text-white focus:outline-none focus:ring"
                        placeholder="you@example.com" id="email" [(ngModel)]="email" name="email" />
                </div>

                <div>
                    <label htmlFor="username" class="text-sm font-medium text-gray-300 block">
                        Username
                    </label>
                    <input type="text"
                        class="w-full px-3 py-2 mt-1 border border-gray-700 rounded-md bg-transparent text-white focus:outline-none focus:ring"
                        placeholder="johndoe" id="username" [(ngModel)]="username" name="username" />
                </div>

                <div>
                    <label htmlFor="password" class="text-sm font-medium text-gray-300 block">
                        Password
                    </label>
                    <input type="password"
                        class="w-full px-3 py-2 mt-1 border border-gray-700 rounded-md bg-transparent text-white focus:outline-none focus:ring"
                        placeholder="••••••••" id="password" [(ngModel)]="password" name="password" />
                </div>

                <button class="w-full py-2 bg-red-600 text-white font-semibold rounded-md hover:bg-red-700"
                    [disabled]="authService.isSigningUp()">
                    {{ authService.isSigningUp() ? "Loading..." : "Sign Up" }}
                </button>
            </form>
            <div class="text-center text-gray-400">
                Already a member?
                <a routerLink="/login" class="text-red-500 hover:underline">
                    Sign in
                </a>
            </div>
        </div>
    </div>
</div>